* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#_dash-app-content {
    display: flex;
    justify-content: center;
}

.offcanvas-header{
    display: flex;
    justify-content: center;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
}

.dropdown-menu.show {
    width: 100%;
    padding-left: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 2px 2px black;
}