dash
numpy
requests
dash-daq
dash-auth
dash-table
dash-core-components
dash-html-components
dash-bootstrap-components
dash-bootstrap-templates
dash-draggable

packaging==21.3.0           # this is necessary to get dash-uploader to work
# dash-uploader==0.7.0a1
dash-uploader
